body {
    background: url('_21_city-background-sprites_These-8-Bit-GIFs-Perfectly-Capture-the-Subtle-Movements-in-.gif');
}
.container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.obstacle {
    position: absolute;
    background-color: green;
    height: 350px;
    width: 100px
}

.havoc {
    position: absolute;
    /* height: 150px;
    width: 1; */
}







 