body {
    height: 100vh;
    background: url('_21_city-background-sprites_These-8-Bit-GIFs-Perfectly-Capture-the-Subtle-Movements-in-.gif');
}

.container {
    position: absolute;
}

.container2 {
    position: absolute;
    top: 10%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    width: 100vh;
}

.obstacle {
    position: absolute;
    background-color: green;
    height: 500px;
    width: 100px

}

.gameOver {
    position: absolute;
    bottom: 45%;
    right: 26%;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 5, 51);
    font-size: 100px;
}



.gameTitle {
position: absolute;
right: 750px;
bottom: -420px;
    font-size: 100px;
    color: rgb(0, 5, 51);
        font-family: 'Press Start 2P', cursive;
}

.start {
    color: rgb(0, 5, 51);
    position: relative;
    right: 520px;
    bottom: -480px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
}


.score {
    position: absolute;
    font-family: 'Press Start 2P', cursive;
}

.reset { 
    position: absolute;
    top: 50%;
    right: 40%;
    font-family: 'Press Start 2P', cursive;
    background: none;
    color: rgb(0, 5, 51);
    font-size: 40px;
}

.havoc {
    position: absolute;
    /* height: 150px;
    width: 1; */
}

.bottom {
position: absolute;
background-color: black;
bottom: 0px;
left: 0px;
height: 75px;
width: 2000px;
}

.top {
    position: absolute;
    background-color: black;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 2000px;
    }





 